[color]
	ui = true
[color "status"]
  header = blue
	branch = magenta
[color "diff"]
	meta = blue
[user]
	name = Tanoy Sinha
	email = tsinha@gmail.com
[core]
	excludesfile = /Users/tsinha/.gitignore
[grep]
  linenumber = true
